body{
	font-family: "Lato","Helvetica Neue",Helvetica,"Arial",sans-serif;
	font-size: 14px;
	font-weight: 500;
	color:#444!important;
}

#overlay {
	z-index:1000000;
	background-color:black;
	/*transition: opacity 1s;*/
	opacity:.5;	/* should be animated */

	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.dimmed {
	-webkit-filter: grayscale(70%);
	filter: grayscale(70%);
}

.customizable{
	z-index: 1000001		!important;
	position: absolute 		!important;
	margin: 0				!important;
	
	background-color: #ededed	!important;
	color: #333					!important;
	
	/*transition: box-shadow .5s;*/
	/* box-shadow: 0 0 2px 2px #61FFED!important; */
	/*border: 1px solid #ccc	!important;*/

	cursor: pointer 			!important;
}

.customizable:hover, .customizable.hovered{
	box-shadow: 0 0 3px 3px yellow!important;
}

.customizable-children{
	background-color: #ededed	!important;
	color: #333					!important;
}

.customizable.ghost{
	opacity: 0.5;
}

.plus-icon{
	z-index: 1000009;
	position: absolute;
	cursor: pointer;

	width: 36px;
	border-radius: 50%;

	box-shadow: 0 0 2px 2px #ededed;
	filter: grayscale(100);
}

.plus-icon:hover{
	box-shadow: 0 0 2px 2px yellow;
	filter: grayscale(0);
}

#panels{
	z-index: 1000002;
	width:1000px;
	height: 500px;
}

#show-full-panel{
	z-index: inherit;
	position:fixed;
	bottom:15px;
	right:20px;
	color:white;
	font-size: 110%;
}

#show-full-panel:hover{
	color:rgb(97, 255, 237);
}

#ad-hoc-panel{
	z-index: 1000003;
	position: absolute;
	display: none;

	min-height: 20px;
	border-radius: 4px;
	overflow: hidden;

	background-color: white;
	box-shadow: 1px 1px 2px 3px rgba(68, 68, 68, 0.5);
}


/* ------------------------  tabs ------------------------ */



#tabs{
	box-sizing: border-box;
	/* width: 410px; */
	height: 35px;
}

#tabs .center-wrapper{
	/* width: 360px; */
	margin: auto;
}

.grayGradientShadow{
	background-image: linear-gradient(to bottom, #FFF, #E9E9E9);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid #BBB;
}

.tab{
	display: inline-block;
	padding: 8px 10px;
	font-size: 15px;
	cursor: pointer;
}

.tab.highlighted .count{
	display: inline-block;
	position: relative;
	top: -0.7em;

	border-radius: 50%;
	background-color: darkorange;
	color: white;
	
	text-align: center;
	font-size: 80%;
	width: 15px;
	height: 15px;
	line-height: 13px;
}

.tab:hover{
	background-color: #3FB5EC; /* rgb(39, 191, 216) */
	color: white;
}

.tab.active{
	background-color: rgb(39, 160, 216); /* #2E95D7 */
	color: white;
}

.linkToTab{
	cursor: pointer;
	padding: 6px 8px;
	border-radius: 4px;
}

.linkToTab:hover{
	background-color: rgb(39, 160, 216);
	background-image: none;
	color: white;
}

div.back-arrow{
	display: inline-block;
	cursor: pointer;
	padding: 0;
	vertical-align: bottom;
}

#back-arrow{
	opacity: 0.8;
	box-sizing: border-box;
	width: 80%;
	height: 80%;
	padding-bottom: 2px;
	padding-left: 12px;
}

#back-arrow:hover{
	opacity: 1;
}


/* -------------------- Options ----------------- */


#options{
	width:100%;
	box-sizing: border-box;
	/*padding: 6px 0;*/

	/*background-color: white; /* #FFF9C9 #FCFCFC rgb(255, 244, 161) #f5f5f5 */
}

.option.yellow{
	background-color: #FBF1CF;
}

.option.highlighted{
	background-color: #FFD5A1;
}

.option.yellow.highlighted{
	background-color: rgb(255, 227, 177);
}

.option.gray.highlighted{
	background-color: #E9E9E9;
}

#options table{
	/* to be able to add a border to tr: */
	border-collapse: collapse; 
	width: 100%;
}

/* required for the float:right below */
.clearfix{
	content:"";
	display:table;
	clear:both;
}

#options button{
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}


tr.option{
	vertical-align: middle;
}

.align-left{
	text-align:left;
}

.align-right{
	text-align:right;
}

#options td{
	padding:5px;
}

#options tr.first-row>td{
	padding-top:8px;
}

#options tr.last-row>td{
	padding-bottom:8px;
}

#options td.left-column{
	padding-left: 10px;
	padding-right: 5px;
}

#options td.middle-column{
	padding-left: 5px;
	padding-right: 5px;
}

#options td.right-column{
	padding-left: 5px;
	padding-right: 10px;
}

#options td.centered.align-left{
	width: 60%;
}

#options td.centered.align-right{
	width: 40%;
}

#options td.align-right [type=checkbox]{
	margin:0!important;
}

.separator{
	border-bottom: 1px solid rgba(189, 189, 189, 0.48); /* #E0E0DF*/
}


/* ---------- Wunderlist-specific styles ------------- */

button:hover{
	background-color: #3FB5EC !important; /* rgb(39, 191, 216) */
	background-image: none !important;
	color: white !important;
}

/* button.highlighted{
	background-color: rgb(39, 160, 216) !important;
	background-image: none !important;
	color: white !important;
	} */

/* button.wunderlist{
	font-family: "Lato","Helvetica Neue",Helvetica,"Arial",sans-serif;
	position: relative;
	cursor: pointer;
	color: #737272;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	padding: 8px 12px;
	background-image: linear-gradient(to bottom, #FFF, #F5F5F5);
	border: medium none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset;
}

button.wunderlist:active{
	background-image: linear-gradient(to bottom, #F5F5F5, #FFF);
	box-shadow: 0px 1px 1px transparent, 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset;
}

button.wunderlist:focus{
	box-shadow: 0px 0px 5px rgba(0, 154, 228, 0.3), 0px 0px 0px 1px rgba(0, 154, 228, 0.6) inset;
} */