/*
z-indexes
1 000 000 overlay
1 000 001 hooks.customizable
1 000 002 hooks:hover
1 000 004 plus
1 000 005 ad-hoc-panel

#FFCC39 orange halo
#FFD5A1 light orange background color
#FF9900 number of highlighted options
#27A0D8 blue
#2755D8 hyperlink blue

*/

#overlay {
	z-index:1000000;
	background-color:black;
	/*transition: opacity 1s;*/
	opacity:.5;	/* should be animated */

	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.dimmed {
	-webkit-filter: grayscale(70%);
	filter: grayscale(70%);
}

.customizable{
	z-index: 1000001		!important;
	position: absolute 		!important;
	margin: 0				!important;
	
	background-color: #ededed	!important;
	color: #333					!important;

 	transition: top 0.5s linear, left 0.5s linear; 

	cursor: pointer 			!important;
}

.blue-highlighting:hover, .blue-highlighted{
	z-index: 1000002 !important;
	box-shadow: 0 0 3px 3px #61FFED!important;
}

.customizable:hover, .customizable.hovered{
	z-index: 1000002 !important;
	
	/*box-shadow: 0 0 3px 3px #FFCC39!important;
	border: 1px solid #ccc	!important;
	margin-top: -1px!important;
	margin-left: -1px!important; */

	background-color: #FFD5A1 !important;
}

.ghost{
	background-color: #D5D5D5 !important;
	color: rgba(68,68,68,.6) !important;
}

.customizable *{
	background-color: inherit !important;
	color: inherit !important;
}

.plus-icon{
	z-index: 1000004;
	position: absolute;
	cursor: pointer;

	width: 36px;
	height: 36px;
	border-radius: 50%;

	box-shadow: 0 0 2px 2px #ededed;
	background-position: 0px 0px;

 	transition: top 0.4s linear, left 0.4s linear; 
}

.plus-icon:hover{
	box-shadow: 0 0 1px 2px #FFCC39;
	background-position: -36px 0px;
}

#ad-hoc-panel{
	z-index: 1000006;
	position: absolute;

	min-height: 20px;
	border-radius: 4px;
	overflow: hidden;

	background-color: #FFD5A1;
	color:#444;

	box-shadow: 1px 1px 2px 3px rgba(68, 68, 68, 0.5);

	transition: width 0.5s ease, height 0.5s ease; /* background-color 0.5s ease;*/
}

/* avoid waiting for the animation to "play" when closing the panel */
#ad-hoc-panel.ng-hide{
	transition: all 0s linear 0s;
}

#ad-hoc-panel.expanded{
	width: 450px!important;
	height: 350px!important;
	margin-bottom: 10px;
	
	background-color: white;
	/*margin-top: 10px; would look better, but creates a jump when switching views */
}


/* ------------------------  tabs ------------------------ */



#tabs{
	box-sizing: border-box;
	width: 450px;
	height: 44px;

	background-color: #f3f3f3;
	border-bottom: 1px solid #27A0D8;
}

#tabs .center-wrapper{
	width: 400px;
	margin: auto;
}

.grayGradientShadow{
	background-image: linear-gradient(to bottom, #FFF, #E9E9E9);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid #BBB;
}

#tabs .tab{
	display: inline-block;
	padding: 8px 10px;
	font-size: 15px;
	cursor: pointer;

	margin-right: 8px;
	border-radius: 8px 8px 0 0;

	margin-bottom: -1px;
	margin-top: 8px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

#tabs .tab:hover{
/* 	border-top: 8px solid #27A0D8; */
	box-shadow: 0px -8px 0px 0px #27A0D8;
	border-radius: 0;
}

#tabs .tab.active{
	background-color: white;
	border-radius: 0;

/* 	border-top: 8px solid #27A0D8; */
	box-shadow: 0px -8px 0px 0px #27A0D8;
	border-left: 1px solid #27A0D8;
	border-right: 1px solid #27A0D8;
	border-bottom: 1px solid transparent;
}

#tabs .tab.highlighted{
	background-color: #FFD5A1;
	background-image: none;
}

.blue-button:hover, .blue-button.active{
	background-color: #27A0D8;
	color: white;
	background-image: none;
}

.linkToTab{
	cursor: pointer;
	padding: 5px 6px;  /* 3px 6px to make them less salient + use opacity .7 in the gradient*/
	border-radius: 4px;
	border-radius: 8px 8px 0 0;
	width: 92px;
}

div.back-arrow{
	display: inline-block;
	cursor: pointer;
	padding: 0;
	vertical-align: bottom;
}

#back-arrow{
	box-sizing: border-box;
	width: 80%;
	height: 80%;
	padding-bottom: 2px;
	padding-left: 12px;
	opacity: .8;
}

#back-arrow:hover{
	opacity: 1;
}

/* -------------------- Options ----------------- */


#options{
	width:100%;
	
	/* for auto scrolling */
	max-height: 296px; 
	overflow-y: auto;

	/* for absolute positioning of options */
	position: relative;	

	margin-top: 12px;
	margin-bottom: 12px;

	transition: height 0.5s ease;
}

#ad-hoc-panel.minimal #options{
	min-width: 350px;
	margin-top: 8px;
	margin-bottom: 20px;
}

#ad-hoc-panel.mixed #options{
	min-width: 400px;
}

.row.option{
	position: absolute;
	width: 100%;

	transition: top 0.5s ease;
}

.row.option.highlighted{
	background-color: #FFD5A1;
	opacity: 1;
}

/* when contracting panel, wait for activeTab's highlighted options to come back in place
	before showing the options from the other tabs, if any. */
#ad-hoc-panel.contracted .row.option.highlighted.ng-hide-remove-active{
	transition: opacity .1s linear .5s;
}

#ad-hoc-panel.contracted .row.option.highlighted.ng-hide{
	opacity: 0;
}

/* when expanding panel, wait for activeTab's highlighted options to come into place
	before showing the non-highlighted options. */
#ad-hoc-panel.contracted .delayed-entrance.ng-hide-remove-active {
  transition: opacity .5s linear .5s;
}

/* simple ephemeral entrance effect for non-highlighted options */
#ad-hoc-panel.expanded .delayed-entrance.ng-hide-remove-active {
  transition: opacity .5s linear .1s;
}

#ad-hoc-panel .delayed-entrance.ng-hide {
	opacity: 0;
}

#ad-hoc-panel .delayed-entrance{
	opacity: 1;
}

.show-more-shortcuts{
	position: absolute;
	right: 17px;
	bottom: 10px;
	background-color: inherit;
}

/* need to highlight the full minimalist panel*/
#options.highlighted{
	background-color: #FFD5A1;
}

.hyperlink{
	color: #2755D8;
	text-decoration: underline;
	cursor: pointer;
}

.hyperlink:hover{
	color: #612B9C;
}

.right-column .hyperlink{
	padding: 0 5px;
}

#show-all{
	position: absolute;
	bottom: 8px;
	right: 10px;
}

.align-left{
	text-align:left;
}

.align-right{
	text-align:right;
}

#options .cell{
	display: inline-block;
	box-sizing: border-box;
	padding:5px;
}

#options .cell.left-column{
	padding-left: 10px;
	padding-right: 5px;
}

#options .cell.middle-column{
	padding-left: 5px;
	padding-right: 5px;
}

#options .cell.right-column{
	padding-left: 5px;
	padding-right: 10px;
}

#options .cell.align-right [type=checkbox]{
	margin:0!important;
}

.preview{
	opacity: 0.5;
}

.preview:hover{
	opacity: 1;
}


/* ---------- Wunderlist-specific styles ------------- */

.wunderlist-button{
	font-family: "Lato","Helvetica Neue",Helvetica,"Arial",sans-serif;
	cursor: pointer;
	color: #737272;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	padding: 8px 12px;
	/*background-image: linear-gradient(to bottom, #FFF, #F5F5F5);*/
	border-radius: 4px;
	border: medium none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset;
}

/* button.highlighted{
	background-color: rgb(39, 160, 216) !important;
	background-image: none !important;
	color: white !important;
	} */

/* button.wunderlist{
	font-family: "Lato","Helvetica Neue",Helvetica,"Arial",sans-serif;
	position: relative;
	cursor: pointer;
	color: #737272;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	padding: 8px 12px;
	background-image: linear-gradient(to bottom, #FFF, #F5F5F5);
	border: medium none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset;
}

button.wunderlist:active{
	background-image: linear-gradient(to bottom, #F5F5F5, #FFF);
	box-shadow: 0px 1px 1px transparent, 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset;
}

button.wunderlist:focus{
	box-shadow: 0px 0px 5px rgba(0, 154, 228, 0.3), 0px 0px 0px 1px rgba(0, 154, 228, 0.6) inset;
} */