#overlay {
	z-index:1000000;
	background-color:black;
	/*transition: opacity 1s;*/
	opacity:.5;	/* should be animated */

	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.dimmed {
	-webkit-filter: grayscale(70%);
	filter: grayscale(70%);
}

.customizable{
	z-index: 1000001		!important;
	position: absolute 		!important;
	margin: 0				!important;
	
	background-color: #eee	!important;
	color: #333				!important;
	
	/*transition: box-shadow .5s;*/
	box-shadow: 0 0 3px 2px #61FFED!important;
	/*border: 1px solid #ccc	!important;*/

	cursor: pointer 		!important;
}

.customizable:hover, .customizable.hovered{
	box-shadow: 0 0 3px 3px yellow!important;
}

.customizable-children{
	background-color: #eee	!important;
	color: #333				!important;
}

#panels{
	z-index: 1000002;
}

#show-full-panel{
	z-index: inherit;
	position:fixed;
	bottom:15px;
	right:20px;
	color:white;
	font-size: 110%;
}

#show-full-panel:hover{
	color:rgb(97, 255, 237);
}

.popup{
	min-height: 20px;
	padding: 6px 10px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.popup_wrapper{
	z-index: 1000003!important;
}

#ad-hoc-panel li{
	margin-top: 5px;
	margin-bottom: 5px;
}