<ul id="tabs" class="grayGradientShadow">
	<li class="tab back-arrow">
		<img id="back-arrow" src="//localhost:8888/resources/back-arrow.png" alt="Go back to minimal panel"
			ng-if="linkedPanels">
	</li>
	<li class="tab"
	ng-repeat="tab in tabNames"
	ng-class="{'highlighted': tabCounts[tab]>0, 'active': tab==activeTab}"
	ng-click="onClickTab(tab)">
	<span>{{tab}}</span>
	</li>
</ul>
<div id="options" ng-class="{'clearfix': activeTab=='Shortcuts'}">
	<table>
		<tr class="row" id="{{option.id}}" ng-repeat="option in options | filterOptionsByTab:activeTab:showMoreShortcuts | object2Array | orderBy:'index'">
			<td class="left-column align-right centered">
				<input type="checkbox"
				ng-if="option.values.length==0" 
				ng-model="option.value"
				ng-change="updateOption(option.id,option.value)">
				<select
				ng-if="option.values.length>0"
				ng-model="option.value"
				ng-options="value for value in option.values"
				ng-change="updateOption(option.id,option.value)">
			</td>
			<td class="right-column align-left centered">
				<label ng-class="{'highlighted': selectedOptions.indexOf(option.id)>=0}">{{option.label}}</label>
			</td>
		</tr>
	</table>
	<button class="wunderlist"
	ng-if="activeTab=='Shortcuts'"
	ng-click="toggleShowMoreShortcuts()">
	{{showMoreShortcuts? "Show Less" : "Show More"}}</button>
</div>