<ul id="tabs" class="grayGradientShadow">
	<div ng-class="{'center-wrapper': model.optionsVisibility==2}">
		<div class="back-arrow" ng-if="model.fullPanel" ng-click="hideFullPanel()">
			<img id="back-arrow" src="//localhost:8888/resources/back-arrow.png" alt="Go back to minimal panel" >
		</div>
		<li class="tab"
		ng-repeat="tab in model.tabs"
		ng-class="{'highlighted': tab.count>0, 'active': tab.name==model.activeTab}"
		ng-click="model.activeTab=tab.name">
		<span>{{tab.name}}</span>
		</li>
	</div>
</ul>
<div id="options" ng-class="{'clearfix': model.activeTab=='Shortcuts'}">
	<table>
		<tr class="option" id="{{option.id}}"
		ng-class="{'first-row': $first, 'last-row': $last, 'highlighted':model.selectedOptions.indexOf(option.id)>=0}"
		ng-repeat="option in model.options | filterOptionsByTab:model.activeTab:model.showMoreShortcuts | object2Array | orderBy:'index'">
			<td class="left-column align-right centered">
				<input type="checkbox"
				ng-if="option.values.length==0" 
				ng-model="option.value"
				ng-change="updateOption(option.id,option.value)">
				<select
				ng-if="option.values.length>0"
				ng-model="option.value"
				ng-options="value for value in option.values"
				ng-change="updateOption(option.id,option.value)">
			</td>
			<td class="right-column align-left centered">
				<label>{{option.label}}</label>
			</td>
		</tr>
	</table>
	<button class="wunderlist"
	ng-if="model.activeTab=='Shortcuts'"
	ng-click="model.showMoreShortcuts= !model.showMoreShortcuts">
	{{model.showMoreShortcuts? "Show Less" : "Show More"}}</button>
</div>