<div id="options">
	<table>
		<tr class="row" id="{{option.id}}"
		ng-repeat="option in (filteredOptions = (options | filterOptions | object2Array | orderBy:[getTabNameIndex,'index']))"
		ng-class="{ 'separator': (filteredOptions[$index].tab != filteredOptions[$index+1].tab) && !$last }">
		<td class="left-column align-right">
			<input type="checkbox"
			ng-if="option.values.length==0" 
			ng-model="option.value"
			ng-change="updateOption(option.id,option.value)">
			<select
			ng-if="option.values.length>0"
			ng-model="option.value"
			ng-options="value for value in option.values"
			ng-change="updateOption(option.id,option.value)"></select>
		</td>
		<td class="middle-column align-left">
			<label>{{option.label}}</label>
		</td>
		<td class="right-column">
			<div class="linkToTab grayGradientShadow" ng-click="showFullPanel(option.tab)">{{option.tab}}...</div>
		</td>
	</tr>
</table>
</div>