<div id="options">
	<table class="separator" ng-repeat="tab in tabNames | filterNonEmptyTabs:tabCounts">
		<tr class="row" id="{{option.id}}" ng-repeat="option in options | filterOptionsByTab:tab | filterOptions | object2Array | orderBy:'index'">
			<td class="align-right">
				<input type="checkbox"
				ng-if="option.values.length==0" 
				ng-model="option.value"
				ng-change="updateOption(option.id,option.value)">
				<select
				ng-if="option.values.length>0"
				ng-model="option.value"
				ng-options="value for value in option.values"
				ng-change="updateOption(option.id,option.value)"></select>
			</td>
			<td class="align-left">
				<label>{{option.label}}</label>
			</td>
		</tr>
	</table>
</div>