<div id="options">
	<table>
		<tr class="option yellow" id="{{option.id}}"
		ng-repeat="option in (filteredOptions = (model.options | filterOptions | object2Array | orderBy:[getTabNameIndex,'index'] | determineAlternateHighlighting))"
		ng-class="{'highlighted': option.highlighted, 'first-row': $first, 'last-row': $last}">

			<td class="left-column align-right">
				<input type="checkbox"
				ng-if="option.values.length==0" 
				ng-model="option.value"
				ng-change="updateOption(option.id,option.value)">
				<select
				ng-if="option.values.length>0"
				ng-model="option.value"
				ng-options="value for value in option.values"
				ng-change="updateOption(option.id,option.value)"></select>
			</td>

			<td ng-class="model.optionsVisibility==0 ? 'right-column' : 'middle-column'" class="align-left">
				<label>{{option.label}}</label>
			</td>
			
			<td class="right-column" ng-if="model.optionsVisibility==1">
				<div class="linkToTab grayGradientShadow" ng-click="showFullPanel(option.tab)">{{option.tab}}...</div>
			</td>
		</tr>
	</table>
</div>