<div id='ad-hoc-panel' ng-show='model.showPanel' ng-switch="model.fullPanel() ? 'full' : 'minimum' ">

<div ng-switch-when="minimum">
	<div id="options" class="highlighted" ng-class="{'clearfix': model.optionsVisibility==0}">
		<table>
			<tbody>
				<tr class="option" id="{{option.id}}" ng-class="{'first-row': $first, 'last-row': $last}"
				ng-repeat="option in (model.selectedOptions | getOptions | orderByTab)">

					<td class="left-column align-right">
						<input type="checkbox"
						ng-if="option.values.length==0" 
						ng-model="option.value"
						ng-change="updateOption(option.id,option.value)">
						<select
						ng-if="option.values.length>0"
						ng-model="option.value"
						ng-options="value for value in option.values"
						ng-change="updateOption(option.id,option.value)"></select>
					</td>

					<td ng-class="model.optionsVisibility==0 ? 'right-column' : 'middle-column'" class="align-left">
						<label>{{option.label}}</label>
					</td>
					
					<td class="right-column" ng-if="model.optionsVisibility==1">
						<a class="hyperlink" ng-click="showFullPanel(option.tab)">{{option.tab}}</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a id="show-all" class="hyperlink" ng-if="model.optionsVisibility==0" ng-click="showFullPanel()">show all</a>
	</div>
</div>

<div id="full-panel" ng-switch-when="full">	
	<ul id="tabs" class="grayGradientShadow">
		<div ng-class="{'center-wrapper': !model.backArrow()}">
			<div class="back-arrow" ng-if="model.backArrow()" ng-click="hideFullPanel()">
				<img id="back-arrow" src="../img/back-arrow.png" alt="Go back to minimal panel" >
			</div>
			<li class="tab blue-button"
			ng-repeat="tab in model.tabs"
			ng-class="{'highlighted': model.highlighting() && tab.count>0, 'active': tab.name==model.activeTab, 'delayed-entrance': tab.count==0}"
			ng-click="removeOldElements(); activateTab(tab.name);">
			<span>{{tab.name}}</span>
			<span ng-if="model.highlighting() && tab.count" class="count">{{tab.count|number:0}}</span>
			</li>
		</div>
	</ul>
	<div id="options" ng-class="{'clearfix': model.activeTab=='Shortcuts'}">
		<table>
			<tr class="option" id="{{option.id}}"
			ng-class="{'first-row': $first, 'last-row': $last, 'highlighted': model.highlighting() && model.selectedOptions.indexOf(option.id)>=0, 'delayed-entrance': model.selectedOptions.indexOf(option.id)<0 && model.tabs.lookup[model.activeTab].count>0}"
			ng-repeat="option in (model.tabs.lookup[model.activeTab].options | filterShowMore | getOptions)">

			<td class="left-column align-right centered">
				<input type="checkbox"
				ng-if="option.values.length==0" 
				ng-model="option.value"
				ng-change="updateOption(option.id,option.value)">
				<select
				ng-if="option.values.length>0"
				ng-model="option.value"
				ng-options="value for value in option.values"
				ng-change="updateOption(option.id,option.value)">
			</td>

			<td class="right-column align-left centered">
				<label>{{option.label}}</label>
			</td>
		</tr>
	</table>

	<div class="wunderlist-button blue-button" ng-if="model.activeTab=='Shortcuts'"
	ng-click="model.showMoreShortcuts= !model.showMoreShortcuts">
	{{model.showMoreShortcuts? "Show Less" : "Show More"}}</div>
	</div>
</div>